.colourDisplay {
	height: 20px;
	margin-left: 1em;
	border: 1px solid black;
}

.centeredText {
	position: relative;
    left: 5%;
    top: 50%;
    width: 90%;
    transform: translate(0, -50%);
    height: auto;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

.colourHex {    
    font-size: 0.8em;
}

#Stage {
    position: relative;
    width: 1024px;
    height: 600px;
    background: #eee;
}

#leftPanel {
    position: absolute;
    left: 46px;
    top: 42px;
    width: 480px;
    height: 507px;
    border-left: 20px solid white;
    background: lightgrey;
    border-radius: 10px 0px 0px 10px;
}

#rightTopPanel {
    position: absolute;
    left: 560px;
    top: 40px;
    width: 400px;
    height: 220px;
    border-left: 20px solid white;
    background: lightgrey;
    border-radius: 10px 0px 0px 10px;
    padding: 2% 1%;
    box-sizing: border-box;
}

#rightBottomPanel {
    position: absolute;
    left: 560px;
    top: 281px;
    width: 400px;
    height: 260px;
    border-left: 20px solid white;
    background: lightgrey;
    border-radius: 10px 0px 0px 10px;
    padding: 2% 1%;
    box-sizing: border-box;
}

#rightBottomPanel h1, #rightBottomPanel p {
    color: white;
}